@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
  /* Blue 500 */
  --color-brand-secondary: #64748b;
  /* Slate 500 */
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
}

:root {
  --background: var(--color-slate-900);
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}